.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
macos/
linux/
windows/
.env
*.iml
.idea/
*.log
